@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&family=Fira+Sans+Extra+Condensed&family=Kosugi+Maru&family=Montserrat:wght@300;400;500;600;700;800;900&family=Outfit:wght@400;500&family=Playfair+Display:wght@600;800&family=Staatliches&family=Varela+Round&family=Yantramanav:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --color-primary: #748bcb;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-danger-varient: #721c24;
    --color-white: #fff;
    --color-light: rgba(175, 166, 166, 0.5);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #151951c4;
    --color-bg2: #424890;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition:all 400ms ease;

}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}


.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section {
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem; 
}
a{
    color: var(--color-white);
}
img{
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color:var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background-color: var(--color-danger);
    color: var(--color-white);
}

/*====================NAVBAR====================*/

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/*====================change navbar style on scroll  using Javascript====================*/

.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.nav_container{
    height: 100%;
    display:flex ;
    justify-content: space-between;
    align-items: center;

    
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
}
.nav_menu a:hover{
    color: var(--color-bg2);
}








/* ===================ACHIEVEMENT=========================*/
.about__container{
    margin-top: 4rem;
    padding-right: 8rem;
}
.about__achievements-container{
    display: grid;
    grid-template-columns: 57% 60%;
    gap: 5rem;
    border-radius: 5rem;
}
.about__achievements-right{
    margin: 1.6rem 0 2.5rem;
}
.achievements__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.achievement__card{
    margin-top: 5rem;
    background: var(--color-bg1);
    padding: 1.7rem 1.2rem;
    text-align: center;
    transition: var(--transition);
}
.achievement__card:hover{
    background: var(--color-bg2);
    box-shadow:  0  3rem rgba(0,0,0,0.3);
}
.achievement__icon{
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 2rem;
    font-size: 2rem;
}





/*-----------------FOOTER-----------------*/

footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer__container > div h4{
    margin-bottom: 1.2rem;
}
.footer__1 p{
    margin:0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a::hover{
    text-decoration: underline;
}
.footer__socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}
